{% load custom_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with {{ target_user.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/chats/duo_chat.css' %}">       
</head>
<body data-user-code="{{ request.user.code }}" data-target-user-code="{{ target_user.code }}">
    <div class="container mt-5">
        <h1 class="text-center">Chat com: {{ target_user.name }}</h1>

        <div id="chat-log" class="mb-3 p-2">
            {% for item in combined %}
                <div>
                    {% if item.type == 'message' %}
                        <strong>{{ item.content.sender.name }}:</strong> {{ item.content.message }} <em>({{ item.content.timestamp|date:"H:i" }})</em>
                    {% elif item.type == 'file' %}
                        <strong>{{ item.content.sender.name }}:</strong>
                        {% if item.content.filename|endswith:".jpg" or item.content.filename|endswith:".png" or item.content.filename|endswith:".gif" %}
                            <div>
                                <img src="{{ item.content.file.url }}" alt="{{ item.content.filename }}" style="max-width: 200px; max-height: 200px;"><br>
                                <a href="{{ item.content.file.url }}" download="{{ item.content.filename }}">{{ item.content.filename }}</a> <em>({{ item.content.timestamp|date:"H:i" }})</em>
                            </div>
                        {% elif item.content.filename|endswith:".mp3" or item.content.filename|endswith:".wav" or item.content.filename|endswith:".ogg" %}
                            <div>
                                <audio controls>
                                    <source src="{{ item.content.file.url }}" type="audio/mpeg">
                                    Seu navegador não suporta o elemento de áudio.
                                </audio>
                            </div>
                        {% else %}
                            <a href="{{ item.content.file.url }}" download="{{ item.content.filename }}">{{ item.content.filename }}</a> <em>({{ item.content.timestamp|date:"H:i" }})</em>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="input-group mb-3">
            <input type="file" id="chat-file-input" class="form-control-file" accept="image/*,video/*,application/pdf,audio/*">
            <input type="text" id="chat-message-input" class="form-control" autocomplete="off" placeholder="Type your message...">
            <div class="input-group-append">
                <button id="send-emoji" class="btn btn-secondary"><i class="fas fa-smile"></i></button>
                <button class="btn btn-secondary" id="send-file"><i class="fas fa-paperclip"></i></button>
                <button id="send-audio" class="btn btn-secondary"><i class="fas fa-microphone"></i></button>
                <button id="send-message" class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>

        <div id="emoji-container">
            <span class="emoji" data-emoji="😀">😀</span>
            <span class="emoji" data-emoji="😂">😂</span>
            <span class="emoji" data-emoji="❤️">❤️</span>
            <span class="emoji" data-emoji="😢">😢</span>
            <span class="emoji" data-emoji="😎">😎</span>
            <span class="emoji" data-emoji="👍">👍</span>
        </div>
    </div>

    <script src="{% static 'js/emoji_selector.js' %}"></script>
    <script type="module" src="{% static 'js/chat/duo_chat.js' %}"></script>

</body>
</html>