{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo - {{ group_chat.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/chats/group_chat.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Grupo - {{ group_chat.name }}</h1>

        <!-- Div para armazenar os dados do chat -->
        <div id="chat-data" data-group-id="{{ group_chat.id }}" data-logged-user-id="{{ logged_user.id }}"></div>

        <!-- Div para o log do chat -->
        <div id="chat-log" class="mb-3 p-2">
            {% for message in messages %}
                <div id="message-{{ message.id }}">
                    <strong>{{ message.sender.name }}:</strong> {{ message.message }} <em>({{ message.timestamp|date:"H:i" }})</em>
                </div>
            {% endfor %}
        </div>

        <div class="input-group">
            <input type="text" id="chat-message-input" class="form-control" autocomplete="off" placeholder="Type your message...">
            <div class="input-group-append">
                <button id="send-message" class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <!-- <script src="{% static 'js/chat_group/test.js' %}"></script> -->
    <script type="module" src="{% static 'js/chat_group/group_chat.js' %}"></script>
</body>
</html>