#chat-log {
    border: 1px solid #ddd;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    background-color: #f1f1f1;
}
#chat-message-input {
    flex: 1; /* Preenche o espaço restante */
    margin-right: 5px; /* Espaçamento entre a barra de mensagem e os botões */
    height: 40px; /* Definindo altura para a barra de entrada */
    border-radius: 5px; /* Arredondando as bordas */
}
.input-group {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens no centro */
}
.input-group-append .btn {
    height: 40px; /* Definindo altura para os botões */
    line-height: 1; /* Para garantir que o ícone fique centralizado */
    border-radius: 5px; /* Arredondando as bordas dos botões */
}
.btn-secondary {
    background-color: #6c757d;
    border: none;
    border-radius: 5px; /* Arredondando as bordas dos botões cinzas */
}
.btn-primary {
    border-radius: 5px; /* Arredondando as bordas do botão azul */
}
.recording {
    background-color: #dc3545 !important; /* Cor vermelha quando gravando */
}
#chat-file-input {
    display: none;
}
#emoji-container {
    display: none; /* Oculto por padrão */
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
.emoji {
    cursor: pointer;
    margin: 5px;
    font-size: 16px; /* Tamanho do emoji */
}