.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 10px; /* Aumente o valor para deixar mais arredondado */
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-list li:hover {
    background-color: #f0f0f0;
}

.user-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-item-container .user-info {
    flex-grow: 1;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-left: 15px; /* Adiciona uma margem esquerda para afastar os botões do li */
}