{% load custom_filters %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Lista de Usuários</title>
    <style>
        .user-list {
            list-style-type: none;
            padding: 0;
        }

        .user-list li {
            padding: 15px;
            margin: 5px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .user-list li:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Lista de Usuários</h1>

        <p class="text-center">Logado como: <strong>{{ logged_user.name }}</strong></p>
        
        <div class="text-center mb-4">
            <a href="{% url 'groups_list' %}" class="btn btn-primary">Ir para Grupos</a>
        </div>

        <ul class="user-list list-group">
            {% for user in users %}
                <li class="list-group-item" data-user-code="{{ user.code }}" onclick="window.location.href='{% url 'chat-page' user.code %}'">
                    {{ user.name }}
                    {% if unread_messages|get_item:user.id %}
                        <span class="badge badge-warning">{{ unread_messages|get_item:user.id }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        const userCode = "{{ logged_user.code }}";
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/notifications/' + userCode + '/'
        );    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log("Dados recebidos:", data);
            
            // Altere de data.username para data.from_user
            const fromUser = data.from_user ? data.from_user.trim() : null;  // Adiciona verificação
            console.log("fromUser recebido:", fromUser);
        
            if (fromUser) {
                // Atualizar a contagem de mensagens não lidas
                const userElement = Array.from(document.querySelectorAll('.user-list li')).find(li => {
                    return li.innerText.split(/\s*\d+\s*$/)[0].trim() === fromUser;
                });
        
                if (userElement) {
                    let badge = userElement.querySelector('.badge');
                    if (badge) {
                        badge.textContent = parseInt(badge.textContent) + 1; // Somar 1
                    } else {
                        userElement.innerHTML += `<span class="badge badge-warning">1</span>`; // Definir como 1
                    }
                    console.log("Atualizando badge:", badge ? badge.textContent : '1');
                } else {
                    console.log("Usuário não encontrado na lista:", fromUser);
                }
            } else {
                console.warn('from_user não definido na mensagem:', data);
            }
        };        
    </script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>